{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Lenslocked</title>
</head>

<body>
    <header>
        <h1><a href='/'>Lenslocked</a></h1>
    </header>
    <main>
        {{template "main" .}}
    </main>
</body>

</html>
{{end}}
